@import url("./scrollbar.css");

.cursor-pointer {
  cursor: pointer;
}

.center-vertically {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-template-1x {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));;
  grid-gap: 1rem;
}

.grid-template-2x {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-template-3x {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));;
  grid-gap: 1rem;
}

.grid-template-4x {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.grid-template-5x {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.grid-template-6x {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}
